.brand-logo {
  height: 90%;
}

.mynav,
body footer.page-footer {
  background-color: rgba(3, 153, 164, 0.979);
}

.row {
  margin-bottom: 6px;
}

h3 {
  color: #d51919ee;
}

div.card div.card-content {
  padding-bottom: 0.1em;
}
